<div class="sidebar-button animated">
  <a href="https://discord.gg/qmkgkY3jaG">
    <i class="fab fa-discord"></i>
    Discord Chat
  </a>
</div>
<div class="cc-license animated" itemprop="sponsor">
  <span class="exturl cc-opacity" title="Deploy with Netlify → https://www.netlify.com" data-url="aHR0cHM6Ly93d3cubmV0bGlmeS5jb20="><img width="120" src="https://www.netlify.com/img/global/badges/netlify-dark.svg" alt="Netlify"></span>
</div>
